<h3><font color="red">Editar Datos Medico - Paciente:</font></h3>

<%= render 'form' %>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Show', @medico_paciente %> |
<%= link_to 'Back', medico_pacientes_path %>
